<br><br>
		
		<div align="center">
		<alert data-ng-repeat="alert in alerts" type="{{alert.type}}"
		close="closeAlert($index)">{{alert.msg}}</alert>
		
		<div data-ng-show="myForm.err.$error.match">Fields do not match!</div>
			<table 	 class="tbl-inner">
				<tr class="tbl-title">
				<td width="200" >User Name</td>			
				<td width="250">Role</td>
				<td width="180" >Reset Password</td>
				<td width="200">Confirm Password</td>
				<td width="50">Submit</td>
				</tr>
				
			<tr data-ng-repeat="login in loginls">
			<td><input type="text" readonly="readonly" data-ng-model="login.username"></td>
			<td><input type="text" data-ng-model="login.role" readonly></td>
			<td><input type="password" maxlength="30" data-ng-model="login.password" required></td>
			<td><input type="password"  maxlength="30" data-ng-model="confpassword[$index]"  required></td>
			<td><button type="button" class="button" data-ng-click="changePassword($index ,confpassword[$index])">Change</button></td>
			</tr>
		
			</table>
			
		
			</div>
		
		<!-- <button type="button" class="button" data-ng-click=changePassword()>Change</button> -->