input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /*   display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; <-- Apparently some margin are still there even though it's hidden
}

/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}

<!--
bar,data picker timer,slider
 http: //angular-ui.github.io /bootstrap/
 table,tab,http: //getbootstrap.com /css
 --> /* CSS Document */ #wrapper {
	width: 980px !important;
	height: auto !important;
	margin: 0px auto 0px !important;
	padding: 0px !important;
}

/* //cc */
.fle{
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0.8;
	z-index: 2;
	
	border: none;
	width: 150px;
	height: 52px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #063583;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 0px;
	padding: 0px 4px 3px 0px;
}
/* //cc */
/* title and tab start ++++++++++++++  */
body{
	font-size: 13px ;
}
#header {
	background: #002e79;
	margin: 0px auto 0px;
	padding: 0px;
	height: 92px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.logo {
	width: 100px;
	float: left;
}

.logo-txt {
	width: 650px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	text-transform: uppercase;
	padding: 30px 0px 0px 0px;
}

.details {
	width: 150px;
	text-align: right;
	float: right;
	line-height: 24px;
	padding: 20px 0px 0px 0px;
	color:#428bca;
}

.logout-icon {
	float: right;
	margin: 0px;
}

/* Navigation */
#navbar {
	background: url(../images/menu-bg.jpg) repeat-x;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	width: 980px;
	height: 41px;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li {
	background: url(../images/divider.jpg) no-repeat right top;
	list-style: none;
	margin: 0;
	padding: 11px 16px 14px 16px;
	float: left;
}

#nav li a,#nav li a:link,#nav li a:visited {
	color: #FFFFFF;
	display: block;
	margin: 0;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

#nav li a:hover,#nav li a:active {
	/*   background: url(../images/menu-hover.jpg) no-repeat center top; */
	color: #63c1ff;
	margin: 0;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

#nav li li a,#nav li li a:link,#nav li li a:visited {
	background: #626262;
	border-bottom: 1px solid #7e7e7e;
	color: #FFFFFF;
	float: none;
	margin: 0;
	padding: 8px 10px;
	text-align: left;
}

#nav li li a:hover,#nav li li a:active {
	background: #0d0d0d;
	border-bottom: 1px solid #7e7e7e;
	color: #63c1ff;
	margin: 0;
	padding: 8px 10px;
}

#nav li.current_page_item a {
	color: #63c1ff;
	margin: 0;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

#nav li ul {
	height: auto;
	left: -999em;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 170px;
	z-index: 9999;
}

#nav li li {
	
}

#nav li ul a {
	width: 140px;
}

#nav li ul a:hover,#nav li ul a:active {
	
}

#nav li ul ul {
	margin: -32px 0 0 171px;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul
	{
	left: -999em;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul
	{
	left: auto;
}

#nav li:hover,#nav li.sfhover {
	position: static;
}
/* title and tab ends $$$$$$$$$$$$$$  */
.clr {
	clear: both;
}
/* 	Content Starts Here  ++++++++++++++  */
#content {
	width: 980px;
	margin: 0px auto 0px;
	padding: 10px 0px;
}
/* 	commom for all view start +++++++++ */
.button {
	background: url(../images/btn-bg.png) no-repeat;
	border: none;
	width: 73px;
	height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #063583;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 0px;
	padding: 0px 4px 3px 0px;
}
.disabledbutton {
	background: url(../images/btn-bg.png) no-repeat;
	border: none;
	width: 73px;
	height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 0px;
	padding: 0px 4px 3px 0px;
}
.lgbutton {
	background: url(../images/lrgbtn-bg.png) no-repeat;
	border: none;
	width: 123px;
	height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #063583;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 0px;
	padding: 0px 4px 3px 0px;
}

/* 						table starts +++++++++++++++++++++++++++++++++ */

td{
	font-size: 13px;
	color: #063583;
	
} 
.tbl-head {
	background: url(../images/title-bg.jpg) ;
	 height:30px;
	 text-align: center;
	 font-size: 14px;
	 text-transform:uppercase;
	

}
.tbl-title {
	color: #FFFFFF !important;
	text-shadow: 1px 1px #5d8bb0;
	font-weight: bold;
	text-align: center;
	font-size: 13px;

}
.tbl-title td {
	font-size: 13px;
	color: #FFFFFF !important;
	padding: 3px;
	border: 1px solid #6691b3 ;
}

.tbl-inner	{
	border-collapse: collapse;
	border: 1px solid #6691b3;
	border-spacing: 0px;
}

.tbl-inner td {
	border: 1px solid #6691b3 ;

	padding: 3px;
}
/* .tbl-head

		<td height="29" colspan="3" background="images/title-bg.jpg"
				bgcolor="#b2dafa" align="center"><strong>Fine date</strong></td>

	 
.tbl-inner	.tbl-inner td
			 <table border ="1" cellpadding ="5" cellspacing ="0"
						bordercolor ="#6691b3 " style ="border-collapse: collapse ;">
						*/
/* 						table ends $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.lb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #063583;
	width: 175px;
	float: left;
	line-height: 28px;
	font-weight: normal;
}

.lbvl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #063583;
	width: 250px;
	font-weight: bold;
	float: right;
	line-height: 28px;
}
.frmlb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #063583;
	width: 150px;
	font-weight: normal;
	float: right;
	line-height: 28px;
}
.txtar{
	background:#fff url(../images/textarea-bg.jpg) repeat-x;
	border: 1px solid #93b8d6;
	color: #063583;
	padding: 4px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.inpts {
	font-size: 13px;
	background: url(../images/textfield-bg.jpg) repeat-x;
	border: 1px solid #93b8d6;
	color: #063583;
	padding: 4px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
/* 	commom for all view ends $$$$$$$$ */
/* 	fees start $$$$$$$$ */

#tuition-fees {
	width:980px;
	margin:0px auto 0px;
	padding:10px 0px;
	}
	
#tuition-fees #formL {
	width:435px;
	float:left;
	}
	
#tuition-fees #formR {
	width:435px;
	float:right;
	}
	
	/* 	fees view ends $$$$$$$$ */
	
	/* 	form start $$$$$$$$ */
	
.pre {
	width:500px;
	float:right;
	margin: 0px;
	text-align:right;
	}
	
.dd {
	background:#6185c1;
	padding:5px;
	font-size:12px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.txtfield {
	background:#6185c1;
	padding:5px;
	font-size:11px;
	color:#FFFFFF;
	text-transform:uppercase;
	border:none;
	width:150px;
	}
	
.btn1 {
	background:url(../images/btn-bg.jpg) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	border:none;
	text-align:center;
	padding:5px 5px 5px 5px;
	font-weight:bold;
	cursor:pointer;

	}
	
	.rflb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #063583;
	width: 534px;
	float: left;
	line-height: 28px;
	font-weight: normal;
}
		/* 	form view ends $$$$$$$$ */
/* 	Content ends Here $$$$$$$$$$$$$$ */